[ -n "${_INC_SHELL_RC}" ] && return; _INC_SHELL_RC=0; # pragma once

# zle -N history-beginning-search-backward-end history-search-end
# zle -N history-beginning-search-forward-end history-search-end
# bindkey ‘\eOA’  history-search-backward
# bindkey ‘\eOB’  history-search-forward
# bindkey ‘^P’ up-line-or-beginning-search
# bindkey ‘^N’ down-line-or-beginning-search
bindkey -e
bindkey '\e\e[C' forward-word
bindkey '\e\e[D' backward-word

full_path=$(realpath $0)
# echo $full_path
dir_path=$(dirname $full_path)
# echo $dir_path
echo "Running $full_path in $dir_path with ($SHELL)"
export ZSH=~/.oh-my-zsh

# eval "$(oh-my-posh init zsh --config $dir_path/user.omp.json)"

echo "Defining Functions & aliases..."
function proj() {
    if [ $# -eq 0 ]; then
        echo "available projects"
        ls ~/git
    else
        project="$1"
        echo "proj: $project"
        project_path=$(realpath -s ~/git/$project)
        echo "looking for project at $project_path"
        cd $project_path
        if (test -f "$project_path/$project.code-workspace") then
            echo "opening code workspace $project.code-workspace for project in $project_path"
            code "$project_path/$project.code-workspace"
        else
            echo "opening project in $project_path"
            eval code "$project_path" 
        fi
    fi

    # if ($1 -eq "") then
    #     echo "available projects"
    #     ls ~/git
    # else
        # project="$1"
        # echo "proj: $project"
        # project_path=$(realpath -s ~/git/$project)
        # echo "looking for project at $project_path"
        # cd $project_path
        # if (test -f "$project_path/$project.code-workspace") then
        #     echo "opening code workspace $project.code-workspace for project in $project_path"
        #     code-insiders "$project_path/$project.code-workspace"
        # else
        #     echo "opening project in $project_path"
        #     code-insiders "$project_path" 
        # fi
    # fi
}

function genpw() {
    cat /dev/urandom | LC_ALL=C tr -dc 'a-zA-Z0-9-_#^\$' | fold -w $1 | sed 1q
}

alias ls="ls --color"
alias la="ls -a --color"
alias ll="ls -la --color"
alias rp="source ~/.zshrc"
alias frp="unset _INC_SHELL_RC; source ~/.zshrc"
alias ttenv="cp -R $dir_path/env-bak/* ~/git/tt/"
alias bt="bashtop"
alias ep="code $dir_path/user.rc"

alias proxyon="export http_proxy='http://localhost:8888';export https_proxy='https://localhost:8888'"
alias proxyoff="export http_proxy='';export https_proxy=''"

echo "Loading PowerLevel 10K theme and settings..."
source ~/powerlevel10k/powerlevel10k.zsh-theme
#source ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
#source ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh


plugins=(
     # azure
     battery
     colorize
     docker
     fzf
     git
     # github
     kubectl
     mvn
     # nodenv
     # node
     # npm
     # nvm
     python
     # rust
     sudo
     terraform
     themes
     # tmux
     ubuntu
     vscode
     web-search
     # yarn
     z
     zsh-autosuggestions
     zsh-syntax-highlighting
)

DISABLE_UPDATE_PROMPT=true


echo "ZSH=$ZSH, ZSH_CUSTOM=$ZSH_CUSTOM"
echo "Loading Oh My Zsh (from ${ZSH:-~/.oh-my-zsh}/oh-my-zsh.sh)..."
source ${ZSH:-~/.oh-my-zsh}/oh-my-zsh.sh
echo "ZSH=$ZSH, ZSH_CUSTOM=$ZSH_CUSTOM"

export FZF_DEFAULT_COMMAND="fd --hidden --strip-cwd-prefix --exclude .git"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_ALT_C_COMMAND="fd --type=d --hidden --strip-cwd-prefix --exclude .git"

# Use fd (https://github.com/sharkdp/fd) for listing path candidates.
# - The first argument to the function ($1) is the base path to start traversal
# - See the source code (completion.{bash,zsh}) for the details.
_fzf_compgen_path() {
  fd --hidden --exclude .git . "$1"
}

# Use fd to generate the list for directory completion
_fzf_compgen_dir() {
  fd --type=d --hidden --exclude .git . "$1"
}

# --- setup fzf theme ---
fg="#CBE0F0"
bg="#011628"
bg_highlight="#143652"
purple="#B388FF"
blue="#06BCE4"
cyan="#2CF9ED"

export FZF_DEFAULT_OPTS="--color=fg:${fg},bg:${bg},hl:${purple},fg+:${fg},bg+:${bg_highlight},hl+:${purple},info:${blue},prompt:${cyan},pointer:${cyan},marker:${cyan},spinner:${cyan},header:${cyan}"

export FZF_CTRL_T_OPTS="--preview 'bat -n --color=always --line-range :500 {}'"
export FZF_ALT_C_OPTS="--preview 'eza --tree --color=always {} | head -200'"

# Advanced customization of fzf options via _fzf_comprun function
# - The first argument to the function is the name of the command.
# - You should make sure to pass the rest of the arguments to fzf.
_fzf_comprun() {
  local command=$1
  shift

  case "$command" in
    cd)           fzf --preview 'eza --tree --color=always {} | head -200' "$@" ;;
    export|unset) fzf --preview "eval 'echo $'{}"         "$@" ;;
    ssh)          fzf --preview 'dig {}'                   "$@" ;;
    *)            fzf --preview "bat -n --color=always --line-range :500 {}" "$@" ;;
  esac
}

echo "fzf loading..."
eval "$(fzf --zsh)"

echo "setting up zoxide..."
# ---- Zoxide (better cd) ----
#eval "$(zoxide init zsh)"

alias cd="z"

export BAT_THEME="Visual Studio Dark+"

#source ~/.fzf-git/fzf-git.sh

# ---- Eza (better ls) -----

alias ls="eza --color=always --long --git --icons=always"
alias l="eza --color=always --long --git --icons=always --no-filesize  --no-time --no-user --no-permissions"


# thefuck alias
#eval $(thefuck --alias)
#eval $(thefuck --alias fk)

# echo "importing p10k"
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
# typeset -g POWERLEVEL9K_INSTANT_PROMPT=off
# [[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
